<div class="container-fluid custom">
    <div class="row">
      <div class="col-md-6 col-xl-4 col-lg-4 col-sm-12 mx-auto">
          <div class="card text-center " style="margin:auto;background-color: rgba(245, 245, 245, 0.5);margin-top: 100px;border: none;border-radius: 2em">
            <div class="card-body">   
              <form>
                <div class="form-group" >
                  <label >Email</label>
                  <input type="text" class="form-control" id="text" placeholder="Enter email" [(ngModel)]="mail" name="mailinfo">
                  <br>
                  <label >New Password</label>
                  <input type="password" class="form-control" id="text" placeholder="Enter New Password" [(ngModel)]="passInfo"  name="passinfo"> <br>
                  <button type="submit" class="btn btn-success text-uppercase" (click)="newPassword()" style="border-radius: 2em;color:black">Reset Password</button>
                  </div>
                </form>
            </div>
            </div>
      </div>
    </div>
  
  </div>
