<div class="container-fluid custom">
  <div class="row">
    <div class="col-md-6 col-xl-4 col-lg-4 col-sm-12 mx-auto">
        <div class="card text-center " style="margin:auto;background-color: rgba(245, 245, 245, 0.5);margin-top: 100px;border: none;border-radius: 2em">
            <div class="card-body" *ngIf="!show">
          <form >
            <div class="form-group" >
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="mail">
              <br>
              <button type="submit" class="btn btn-success text-uppercase" style="border-radius: 2em;color:black" (click)="forgotpassword()">Generate Token</button>
              </div>
            </form>
          </div>
          <div class="card-body" *ngIf="show">
            <h6 *ngIf="!errors">The reset link has been sent to your email address.</h6>
            <h6 *ngIf="errors">{{errors}}</h6>

          </div>
          </div>
    </div>
  </div>

</div>